.finishing_dveri.es1.block-action {
    background-image: url(../img/finishing_dveri.jpg);
    .es1__pict{
        display: none;
    }
    @media only screen and (max-width: 600px){
        .es1__block .action-img img{
            transform: none;
            width: 100%;
        }
    }
}