.es2_balcons{
    @media only screen and (max-width: 767px){
        margin-bottom: 40px;
    }
    .h2{
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        text-align: center;

        color: #E21F69;
        i{
           display: block;
           color: #000000;
            
        }
    }
    /*.es2_oknatseny{
        .es2_oknatseny_row_right-text{
            color: #DD0053;
            font-weight: bold;
        }
    }
    .es2_oknatseny_row_right_text{
        

        color: #000000;
    }*/
    .es2_oknatseny_row + .es2_oknatseny_row ~ .es2_oknatseny_row .es2_oknatseny_row_right.es2_red{
        font-size: 24px;
        line-height: 29px;
    }
    form{
        display: flex;
        flex-wrap: wrap;
    }
}
