.es20_balcony{
    h3{
        margin-bottom: 11px;
    }
    span{
        margin-bottom: 33px;
    }
    .time{
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 34px;

        color: #000000;

    }

    .red-pink-button{
        padding: 11px 24px 10px;
        background: linear-gradient(180deg, #FFD054 0%, #F2AD27 100%);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    }
    .es17_blockbg{
        margin-bottom: 33px;
        @media only screen and (max-width: 992px){
            width: 100%;
            text-align: center;
            .form-group{
                margin-right: auto;
                margin-left: auto;
                display: block;
            }
        }
    }
    .es17_girl{
        height: 470px;
        width: 384px;
        right: 3vw;
    }
     form{
         flex-wrap: wrap;
     }   
}