.es5_balcons{
    padding-top: 0;
    height: 415px;
    .b_windownow_block{
        padding-top: 40px;
    }
    
    .b_windownow_man{
        margin-top: -20px;
    }
    .red-button{
        display: inline-block;
    }
    
}