.es8_balcons{
    background-color: #015B77;

    .h2{
        color: #fff;
    }
    .item{
        div{
            background: linear-gradient(180deg, #DD0053 0%, #A3003D 100%);
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            width: 290px;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            padding: 9px 9px;
        }
        
    }
    

}
