.es19_bg{
    padding-bottom: 13px;
    padding-top: 12px;
    background: #015A76;
    
    .flex-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }
    }
    .b-left{
        a{
            text-decoration: none;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;/* identical to box height */
            
            color: #FFFFFF;
            display: block;
            @media only screen and (max-width: 600px) {
                margin-bottom: 8px;
            }
        }
        div{
            margin-top: 5px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;/* identical to box height */

            color: #FFFFFF;
        }
    }

    .b-right{
        & > a{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;/* identical to box height */
            text-decoration-line: underline;
            display: block;
            color: #FBC035;

            text-align: right;
        }
        span{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;/* identical to box height */
            display: block;
            margin-bottom: 7px;
            color: #FFFFFF;
            a{
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;/* identical to box height */

                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
}

