.finishing_balconies._main{
    background-image: url(../img/accii-bg.jpg);
    
    margin-bottom: 0;
    .es1__pict {
        background-image: url(../img/finishing_balconies_men.png);
        background-position-x: right;
    }
    .es1-flex-wrap {
        margin-top: 125px;
        @media only screen and (max-width: 992px){
            margin-top: 25px;
        }
        .name-abs {
            top: -53%;
            left: 57%;
            text-align: right;
        }
    } 
    .action-img{
        display: inline-block;
        transform: translate(164px, -43px);
        @media only screen and (max-width: 1200px){
            transform: translate(0px, 5px);
        }
        @media only screen and (max-width: 992px){
            img{
                margin-top: 4vh;
            }
        }
        @media only screen and (max-width: 767px){
            img{
                margin-left: 10vw;
            }
        }
    }
    .es1__block{
        margin-top: 33px;
    }
}