.b-kosmet-remont{
    margin-bottom: 40px;
    margin-top: 40px;
    .flex-container{
        display: flex;
        justify-content: space-between;
        
        .text-block{
            max-width: 66%;
            @media only screen and (max-width: 1200px) {
                max-width: 62%;
            }
    
            @media only screen and (max-width: 992px) {
                max-width: 100%;
                margin-top: 0;
            }
        }

    }
    .flex-container::before,
    .flex-container::after{
        display: none;
    }


    h2, .h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #000000;
        text-align: left;
        @media only screen and (max-width: 992px){
            text-align: center;
        }
        span{
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 39px;
            color: #DD0053;
        }
    }
    .b-kosmet-remont__item{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 50px;
        color: #000000;
    }
    /* line 34, ../../sass/blocks/b-kosmet-remont/_b-kosmet-remont.sass */
    .b-kosmet-remont__block{
        margin-top: 40px; 
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media only screen and (max-width: 992px){
            justify-content: space-around;
        }
        
    }
    .b-kosmet-remont__item{
        width: 48%;
        display: flex;
        align-items: center;
        text-align: left;
        background-color: rgb(236, 236, 236);
        border-radius: 34px;
        
        @media only screen and (max-width: 482px){
            width: 90%;
        }
    }
    .img-block{
        position: relative;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 13px;
        text-align: center;

        color: #FFFFFF;
        span{
            position: absolute;
            top: 72px;
            right: 2px;
            width: 67px;
            height: 28px;
        }
        @media only screen and (max-width: 992px){
            display: none;
        }

    }


}