#gift{
	.modal-dialog{
		background: url(../img/bg.png) no-repeat center bottom #fff;
		@media only screen and (max-width: 768px){
			margin-left: auto;
			margin-right: auto;
		}

    	.modal-header {
		    height: 28px;
		    padding: 14px;
		}
    	.modal_zag {
		    font-weight: bold;
			font-size: 24px;
			line-height: 29px;/* identical to box height */
			//text-align: right;
			text-transform: uppercase;	
			color: #000000;
			margin-bottom: 18px;
		}
		.madal_t1{
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			text-align: center;
			margin-bottom: 26px;
			color: #000000;

		}
		.modal_input_ema{
				background: #FFF url(../img/b_sms_input.png) no-repeat;
				background: #FFF url(../img/b_sms_input2.png) center left no-repeat;
				background-position-x: 8px; 
			    width: 281px;
			    height: 40px;
			    border-radius: 5px;
			    display: block;
			    
			    margin-right: auto;
				margin-left: auto;
				display: flex;
				align-items: center;
				text-align: left;
				border: 1px solid #D0D0D0;
				box-sizing: border-box;
				border-radius: 5px;
				margin-bottom: 23px;
				@media only screen and (max-width: 768px){
					width: 220px;
				}
			    
			input{
				font-weight: 500;
				font-size: 14px;
				line-height: 17px;
				border: none;
				background: none;
				color: #D0D0D0;
				margin-left: 39px;
			}
		}

		.red-button{
			background: linear-gradient(180deg, #FFD054 0%, #F2AD27 100%);
			box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
			border-radius: 20px;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;/* identical to box height */
			text-align: center;
			text-transform: uppercase;
			color: #000000;
			padding: 9px 19px;
			margin-left: auto;
			margin-right: auto;
			@media only screen and (max-width: 768px){
				font-size: 16px;
				line-height: 20px;
			}
			
		}


	}

}