.wrap-geo.shar-t7{
    overflow: visible;
    @media only screen and (max-width: 767px){
        background: #07627f;
    }
    .container, .es1__block{
        height: 100%;
    }
    

    .top_block__logo{
        color: #000000;
    }
    .top_block__tel, .top_block__vamperez{
        color: #fff;
        span::before{
            background-color: #fff;
        }
    }
    .es1_doors.es1{
        background: url(../img/img-got-okna.png) center top no-repeat;
        background-size: cover;
        overflow: visible;
        height: 560px;
        background-position-y: 100%;
        @media only screen and (min-width: 1600px){
            height: 700px;
        }
        @media only screen and (max-width: 1200px){
            height: 615px;
        }
        @media only screen and (max-width: 767px){
            background-position-x: 41%;
            background: #07627f;
            height: auto;
        }
        

        &::after{
            display: none;
        }
        h1{
            font-weight: bold;
            font-size: 45px;
            line-height: 55px;
            color: #000;
            padding-bottom: 30px;
            margin-top: 0;
            text-align: right;
            color: #fff;
            @media only screen and (max-width: 992px){
                order: 2;
                text-align: right;
            }
            @media only screen and (max-width: 767px){
                text-align: center;
            }
            span{
                font-size: 72px;
                line-height: 78px;
                color: #FBC035;
            }
        }

        .skidka-7day-wrapper{
            display: flex;
            margin-top: auto;
            @media only screen and (max-width: 992px){
                order: 2;
                
                justify-content: flex-end;
                transform: translateX(58px);
            }
    
            @media only screen and (max-width: 767px){
                justify-content: center;
                flex-direction: column;
                align-items: center;
                transform: translateX(0);
            }
            .skidka-7day{
                background-repeat: no-repeat;
                background-image: url(../img/skidka-7day-bg.png);
                width: 246px;
                height: 65px;
                font-weight: bold;
                color: #000000;
                padding-left: 21px;
                @media only screen and (max-width: 767px){
                    width: auto;
                    background: none;
                    padding-left: 0;
                    height: auto;
                    color: #f4b12d;
                }
                div{
                    font-size: 36px;
                    line-height: 44px;
                    @media only screen and (max-width: 767px){
                        font-size: 32px;
                        line-height: 41px;
                    }
                }
                p{
                    font-size: 18.5px;
                    line-height: 1;
                    @media only screen and (max-width: 767px){
                        display: none;
                    }
                }
            }
            & > p{
                color: #000;
                font-weight: bold;
                font-size: 144px;
                line-height: 0.71;
                transform: translateX(-52px);
                @media only screen and (max-width: 767px){
                    font-size: 100px;
                    color: #fff;
                    transform: translateX(0);
                }
            }
        }
        .b-top__zamer{
            position: absolute;
            bottom: -63px;
            right: -5px;
            color: #fff;
            @media only screen and (max-width: 992px) {
                bottom: 124px;
                right: 49px;
            }
            @media only screen and (max-width: 767px){
                position: static;
                margin-bottom: 0px;
                margin: 21px auto 0;
            }
            .b-top__zamer_ruler{
                background-image: url(../img/kalcylator.png);
                width: 63px;
                height: 75px;
                margin-left: 9px;
                margin-top: -4px;
            }
            .b-top__zamer_txt{
                span{
                    font-size: 28px;
                    line-height: 34px;
                    @media only screen and (max-width: 767px){
                        font-size: 25px;
                        line-height: 26px;
                    }
                }
                font-size: 20px;
                line-height: 24px;
                
                font-weight: bold;
            }
        }
        
        .b-top__zamer.block-calculate{
            position: static;
            background: linear-gradient(180deg, #FFD054 0%, #F2AD27 100%);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
            margin-bottom: 30px;
            .b-top__zamer_txt{
                color: #000;
            }
            @media only screen and (max-width: 767px){
                //margin-right: 0;
            }
        }
        .b-top__zamer.block-ruletki{
            //background: linear-gradient(180deg, #FFD054 0%, #F2AD27 100%);
            //box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
            .b-top__zamer_ruler{
                width: 96px;
                height: 78px;
                background: url(../img/es1_ruler.png) no-repeat center center;
                margin-left: -14px;
                margin-top: auto;
            }
            /*.b-top__zamer_txt{
                color: #000;
            }*/
        }

        .wr-text-r{
            position: absolute;
            top: 0;
            right: 0;
            padding-top: 32px;
            @media only screen and (max-width: 992px){
                position: static;
                order: 1;
            }
            p{
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                text-align: right;
                color: #FFFFFF;
                width: 420px;
                margin-bottom: 41px;
                @media only screen and (max-width: 992px){
                    margin-left: auto;
                }
            }
            b{
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
            }
        }
    
    }


    .geo-cont {
        position: absolute;
        top: 0;
        right:  0;
        min-width: 624px;
        min-height: 492px;
        width: 51%;
        height: 53%;
        background-image: url(../img/shar-t3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 100%;
        display: flex;
        justify-content: flex-end;
        @media only screen and (min-width: 1200px){
            min-height: 560px;
        }
        @media only screen and (max-width: 767px){
            background: #07627f;
        }
        
    }
}