
.b-derevo_calc-wrapper {
    
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 40px;
    padding-bottom: 50px;
    h2{
        margin-bottom: 40px;
    }
    .container{
        position: relative;
    }
    .container-abs{
        position: absolute;
        left: 50%;
        top: 30px;
        transform: translateX(calc((-50%) + 190px));
    }
    .b-derevo_calc{
        
        background: url(/css/../img/derevo/podbor/bg_1.jpg) no-repeat center center;
        height: 720px;
        width: 100%;
        position: absolute;
        
        .b-derevo_calc__ruch{
            width: 100%;
        } 
    }
    .b-derevo_calc,
    .b-derevo_calc__ruch{
        background-size: cover !important;
        height: auto !important;
        min-height: 488px !important;
        //background-position-x: 190px !important;
    }
    .flex-row{
        display: flex;
        justify-content: space-between;
        & > div{
            text-align: center;
        }
    }
    .tsvet_ramy {
        width: 558px;
        margin-bottom:  40px;
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
    }
    .tsvet_ruch {
        width: 558px;
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
    }
    .tsvet_ramy + .tsvet_ruch{
        margin-bottom: 20px;
    }
    .color-img{
        height: 68px;
        width: 68px;
        position: relative;
        margin: 0 auto 5px;
        img{
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
        &::before{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 3px solid #FFC93C;
            
            border-radius: 50%;
        }
        & + span{
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
        }
    }
    .color-img-act{
        &::before{
            content: "";
        }
    }

    .head-top{
        background: linear-gradient(180deg, #DD0053 0%, #A3003D 100%);
        border-radius: 20px;
        height: 40px;
        width: 264px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        margin-bottom: 40px;
        position: relative;
        @media only screen and (max-width: 600px) {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px;
        }
        
        &::before{
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            height: 2px;
            width:  100px;
            background-color: #DD0053;
            transform: translateX(100%);
        }
        span{
            background: rgba(221, 0, 83, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
            width: 25px;
            height: 25px;
            border-radius: 50%;
            &::after{
                content: "";
                width: 11px;
                height: 11px;
                background: #DD0053;
                border-radius: 50%;
            }
        }
    }

    $tsvet_ramy_width: 645px;
    $tsvet_ruch_width: 585px;
    $tsvet_ruch_dop100: 100;
    $tsvet_ruch_dop220: 220;

    .tsvet_ramy .head-top::before{
        width: $tsvet_ramy_width;
    }
    .tsvet_ramy .head-top span{
        right: -$tsvet_ramy_width;
    }
    .tsvet_ruch .head-top::before{
        width: $tsvet_ruch_width;
    }
    .tsvet_ruch .head-top span{
        right: -$tsvet_ruch_width;
    }

    @media only screen and (max-width: 1200px) {
        .tsvet_ramy .head-top::before{
            width: $tsvet_ramy_width;
            width: $tsvet_ramy_width - $tsvet_ruch_dop100;
        }
        .tsvet_ramy .head-top span{
            right: -$tsvet_ramy_width;
            right: -$tsvet_ramy_width + $tsvet_ruch_dop100;
        }
        .tsvet_ruch .head-top::before {
            width: $tsvet_ruch_width;
            width: $tsvet_ruch_width - $tsvet_ruch_dop100;
        }
        .tsvet_ruch .head-top span{
            right: -$tsvet_ruch_width;
            right: -$tsvet_ruch_width + $tsvet_ruch_dop100;
        }
     }

     @media only screen and (max-width: 992px) {
         .tsvet_ramy .head-top::before{
             width: $tsvet_ramy_width;
             width: $tsvet_ramy_width - $tsvet_ruch_dop220;
         }
         .tsvet_ramy .head-top span{
             right: -$tsvet_ramy_width;
             right: -$tsvet_ramy_width + $tsvet_ruch_dop220;
         }
         .tsvet_ruch .head-top::before {
             width: $tsvet_ruch_width;
             width: $tsvet_ruch_width - $tsvet_ruch_dop220;
         }
         .tsvet_ruch .head-top span{
             right: -$tsvet_ruch_width;
             right: -$tsvet_ruch_width + $tsvet_ruch_dop220;
         }
      }

      @media only screen and (max-width: 767px) {
        .container-abs, .head-top::before, .head-top span{
            display: none;
        }
        .flex-row{
            flex-wrap: wrap;
            & > div{
                margin-right: 2vw;
            }
        }
      }
      @media only screen and (max-width: 600px) {
        .flex-row{
            flex-wrap: wrap;
            & > div{
                margin-right: 0;
                width: 33.333%;
                margin-top: 8px;
            }
        }
      }
  }

  
  .b-derevo_calc .b-derevo_calc__ruch {
    background: url(/css/../img/derevo/podbor/ruch_1.png) no-repeat center center;
    height: 720px;
    position: relative
  }
  
  .b-derevo_calc .container .b-derevo_calc__zag {
    font-size: 5em;
    color: #0d0d0d;
    text-align: center;
    text-transform: uppercase;
    font-family: 'ALSSchlangesans-Black';
    line-height: 1;
    margin-bottom: 25px;
    margin-top: -80px
  }
  
  .b-derevo_calc .container .tsvet_ramy {
    width: 590px;
    margin-bottom: 20px;
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
  }
  
  .b-derevo_calc .container .tsvet_ramy .tsvet_ramy__txt {
    text-align: center;
    font-size: 2.4em;
    color: #3d3d3d;
    margin-bottom: 15px;
    font-family: 'Roboto',sans-serif
  }
  
  .b-derevo_calc .container .tsvet_ramy .col-sm-4 {
    text-align: center;
    font-size: 1.8em;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    margin-bottom: 15px
  }
  
  .b-derevo_calc .container .tsvet_ramy .col-sm-4 img {
    cursor: pointer
  }
  
  .b-derevo_calc .container .tsvet_ramy .col-sm-4 img:hover {
    opacity: .8
  }
  
  .b-derevo_calc .container .tsvet_ruch {
    width: 590px
  }
  
  .b-derevo_calc .container .tsvet_ruch .tsvet_ruch__txt {
    text-align: center;
    font-size: 2.4em;
    color: #3d3d3d;
    margin-bottom: 15px;
    font-family: 'Roboto',sans-serif
  }
  
  .b-derevo_calc .container .tsvet_ruch .col-md-2 {
    text-align: center;
    font-size: 1.3em;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    margin-bottom: 25px
  }
  
  .b-derevo_calc .container .tsvet_ruch .col-md-2 img {
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: -5px
  }
  
  .b-derevo_calc .container .tsvet_ruch .col-md-2 img:hover {
    opacity: .8
  }
  
  @media only screen and (max-width: 992px) {
    /*.b-derevo_calc {
        margin:150px auto -30px;
        background: url(/css/../img/derevo/podbor/bg_1.jpg) no-repeat center bottom;
        height: 700px;
        position: relative;
        z-index: 1
    }**/
  
    .b-derevo_calc .b-derevo_calc__ruch {
        background: url(/css/../img/derevo/podbor/ruch_1.png) no-repeat center bottom;
        height: 680px;
        position: relative
    }
  
    .b-derevo_calc .container .b-derevo_calc__zag {
        font-size: 42px;
        color: #0d0d0d;
        text-align: center;
        text-transform: uppercase;
        font-family: 'ALSSchlangesans-Black';
        line-height: 1;
        margin-bottom: 25px;
        margin-top: -80px
    }
  
    .b-derevo_calc .container .tsvet_ramy {
        width: 390px;
        margin-bottom: 20px
    }
  
    .b-derevo_calc .container .tsvet_ramy .tsvet_ramy__txt {
        text-align: center;
        font-size: 2.4em;
        color: #3d3d3d;
        margin-bottom: 15px;
        font-family: 'Roboto',sans-serif
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-md-4 {
        text-align: center;
        font-size: 1.8em;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        margin-bottom: 15px
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-md-4 img {
        cursor: pointer
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-md-4 img:hover {
        opacity: .8
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-xs-4 {
        text-align: center;
        font-size: 1.8em;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        margin-bottom: 15px
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-xs-4 img {
        cursor: pointer;
        width: 100px;
        margin-bottom: -5px
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-xs-4 img:hover {
        opacity: .8
    }
  
    .b-derevo_calc .container .tsvet_ruch {
        width: 390px
    }
  
    .b-derevo_calc .container .tsvet_ruch .tsvet_ruch__txt {
        text-align: center;
        font-size: 2.4em;
        color: #3d3d3d;
        margin-bottom: 15px;
        font-family: 'Roboto',sans-serif
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-md-2 {
        text-align: center;
        font-size: 1.3em;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        margin-bottom: 25px
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-md-2 img {
        cursor: pointer
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-md-2 img:hover {
        opacity: .8
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-xs-4 {
        text-align: center;
        font-size: 1.3em;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        margin-bottom: 25px
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-xs-4 img {
        cursor: pointer;
        margin-bottom: -5px
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-xs-4 img:hover {
        opacity: .8
    }
  }
  
  @media only screen and (max-width: 768px) {
    /*.b-derevo_calc {
        margin:130px 0 -12px -100px;
        background: url(/css/../img/derevo/podbor/bg_1.jpg) no-repeat center bottom;
        height: 700px;
        position: relative;
        z-index: 1
    }*/
  
    .b-derevo_calc .b-derevo_calc__ruch {
        background: url(/css/../img/derevo/podbor/ruch_1.png) no-repeat center bottom;
        height: 680px;
        position: relative
    }
  
    .b-derevo_calc .container {
        margin-left: 100px
    }
  
    .b-derevo_calc .container .b-derevo_calc__zag {
        font-size: 36px;
        color: #0d0d0d;
        text-align: center;
        text-transform: uppercase;
        font-family: 'ALSSchlangesans-Black';
        line-height: 1;
        margin-bottom: 25px;
        margin-top: -80px
    }
  
    .b-derevo_calc .container .tsvet_ramy {
        width: 320px;
        margin-bottom: 20px
    }
  
    .b-derevo_calc .container .tsvet_ramy .tsvet_ramy__txt {
        text-align: center;
        font-size: 2.4em;
        color: #3d3d3d;
        margin-bottom: 15px;
        font-family: 'Roboto',sans-serif
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-md-4 {
        text-align: center;
        font-size: 1.8em;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        margin-bottom: 15px
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-md-4 img {
        cursor: pointer
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-md-4 img:hover {
        opacity: .8
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-xs-4 {
        text-align: center;
        font-size: 1.8em;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        margin-bottom: 15px
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-xs-4 img {
        cursor: pointer;
        width: 80px;
        margin-bottom: -5px
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-xs-4 img:hover {
        opacity: .8
    }
  
    .b-derevo_calc .container .tsvet_ruch {
        width: 320px
    }
  
    .b-derevo_calc .container .tsvet_ruch .tsvet_ruch__txt {
        text-align: center;
        font-size: 2.4em;
        color: #3d3d3d;
        margin-bottom: 15px;
        font-family: 'Roboto',sans-serif
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-md-2 {
        text-align: center;
        font-size: 1.3em;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        margin-bottom: 25px
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-md-2 img {
        cursor: pointer
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-md-2 img:hover {
        opacity: .8
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-xs-6 {
        text-align: center;
        font-size: 1.3em;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        margin-bottom: 10px
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-xs-6 img {
        cursor: pointer;
        margin-bottom: -5px;
        width: 70px
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-xs-6 img:hover {
        opacity: .8
    }
  }
  
  @media only screen and (max-width: 480px) {
    /*.b-derevo_calc {
        margin:130px 0 -12px -100px;
        background: url(/css/../img/derevo/podbor/bg_1.jpg) no-repeat center bottom;
        height: 620px;
        position: relative;
        z-index: 1
    }*/
  
    .b-derevo_calc .b-derevo_calc__ruch {
        background: url(/css/../img/derevo/podbor/ruch_1.png) no-repeat center bottom;
        height: 600px;
        position: relative
    }
  
    .b-derevo_calc .container {
        margin-left: 100px
    }
  
    .b-derevo_calc .container .b-derevo_calc__zag {
        font-size: 30px;
        color: #0d0d0d;
        text-align: center;
        text-transform: uppercase;
        font-family: 'ALSSchlangesans-Black';
        line-height: 1;
        margin-bottom: 25px;
        margin-top: -80px
    }
  
    .b-derevo_calc .container .tsvet_ramy {
        width: 200px;
        margin-bottom: 20px
    }
  
    .b-derevo_calc .container .tsvet_ramy .tsvet_ramy__txt {
        text-align: center;
        font-size: 2em;
        color: #3d3d3d;
        margin-bottom: 15px;
        font-family: 'Roboto',sans-serif
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-md-4 {
        text-align: center;
        font-size: 1.8em;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        margin-bottom: 15px
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-md-4 img {
        cursor: pointer
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-md-4 img:hover {
        opacity: .8
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-xs-4 {
        text-align: center;
        font-size: 1.4em;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        margin-bottom: 15px
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-xs-4 img {
        cursor: pointer;
        width: 50px;
        margin-bottom: -5px
    }
  
    .b-derevo_calc .container .tsvet_ramy .col-xs-4 img:hover {
        opacity: .8
    }
  
    .b-derevo_calc .container .tsvet_ruch {
        width: 160px
    }
  
    .b-derevo_calc .container .tsvet_ruch .tsvet_ruch__txt {
        text-align: center;
        font-size: 2em;
        color: #3d3d3d;
        margin-bottom: 15px;
        font-family: 'Roboto',sans-serif
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-md-2 {
        text-align: center;
        font-size: 1.3em;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        margin-bottom: 25px
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-md-2 img {
        cursor: pointer
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-md-2 img:hover {
        opacity: .8
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-xs-6 {
        text-align: center;
        font-size: 1.3em;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        margin-bottom: 10px
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-xs-6 img {
        cursor: pointer;
        margin-bottom: -5px;
        width: 60px
    }
  
    .b-derevo_calc .container .tsvet_ruch .col-xs-6 img:hover {
        opacity: .8
    }
  }
  