.template{
    font-family: "Montserrat", sans-serif;
    
    .h2 {
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 32px;
    }
    .form-group{
        width: 300px;
        border: 1px solid #D0D0D0;
        height: 50px;
        background-color: #FFFFFF;
        background-image: url(../img/phone-img.png);
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 14px;
        padding-top: 0;
        border-radius: 5px;
        display: inline-block;
        margin-right: 30px;
        input {
            border: 0px;
            background: none;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 55px;
            width: 100%;
            margin-left: 0;
        }
    }
    .red-pink-button{
        height: 50px;
    }
   
}
.none{
    display: none;
}