.b-kyhni-bg{
    padding-top: 40px;
    margin: 0;
    .b-sms_phone{
        transform: none;
        margin-right: 20px;
    }

    .b-sms-form{
        max-width: 557px;
        .b-sms__text{
            padding-top: 0;
        }
    }
    .flex-container > div{
        flex: 1;
    }

    
}