.giving{
    font-family: "Montserrat", sans-serif;
    padding: 40px 0 35px;
    
    h3{
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        margin-bottom: 17px;
        text-transform: uppercase;
        color: #DF0054;
    }
    p{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

        color: #000000;
    }
}

.es14_bg_custom{
    padding-top: 30px;
    padding-bottom: 46px;

    background-image: url(../img/b_market_filtr_bg.png);
    background-color: #FBC035;
    font-family: "Montserrat", sans-serif;
    .slick-track{
        margin: 0 -15px;
    }
    

    .slick-track,
    .slick-slide{
        display: flex;
    }
    .slick-slide{
        margin: 0 15px;
        height: auto;
    }
    .slick-dots{
        bottom: -50px;
    }   
    .h2{
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: #000000;
        text-transform: uppercase;
        margin-bottom: 37px;
    }
    .item-rewiews{
        display: block;
        max-width: 690px;
        margin-left: auto;
        margin-right: auto;
        & > div{
            grid-row-start: 1;
            grid-row-end: 2;
            position: relative;
            h5{
                margin-bottom: 16px;
                color: #dd0053;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
            }
            p{
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #000;
            }
        }
        .box1{
            grid-column-start: 1;
            grid-column-end: 3;
            z-index: 1;
            img{
                width: 192px;
                height: 192px;
                object-fit: cover;
                border-radius: 50%;
                border: 3px solid #fff;
            }
        }
        .box1, .box1 img{
            margin: 0 auto;
        }
        .box2{
            grid-column-start: 2;
            grid-column-end: 4;
            background-color: #fff;
            padding-top: 13px;
            padding-bottom: 18px;
            padding-right: 21px;
            padding-left: 21px;

        }
        @supports (display: grid) {
            display: grid;
            grid-template-columns: 96px 96px 1fr;
            .box2{
                padding-left: 114px;
            }
        }
        @media only screen and (max-width: 667px) {
            display: flex;
            flex-direction: column;
            .box2{
                padding-left: 21px;
                flex: 1;
                margin-top: 15px;
            }
        }
    }

    
}