.form-group-wrapper{
    background-image: url(../img/bg-1.jpg);
    padding-top: 39px;
    padding-bottom: 40px;

    .form-group-men{
        background-image: url(../img/men-img.png);
    }
    .form-group-email{
        background-image: url(../img/email-img.png);
    }
    .form-group-phone{
        background-image: url(../img/phonemini-img.png);
    }
    .h4{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-top: 0;
        margin-bottom: 20px;
        color: #000000;
    }

    form{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 17px 20px 20px;
        background-color: #fff;
        min-width: 402px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        @media only screen and (max-width: 600px){
            min-width: 100%;
        }
    }
    
    .red-button{
        
        width: 274px;
    }
    .h2{
        display: flex;
        align-items: center;
        @media only screen and (max-width: 992px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        span{
            font-weight: bold;
            font-size: 32px;
line-height: 39px;
            color: #FFFFFF;
            background: linear-gradient(180deg, #1B809D 0%, #015A76 100%);
border-radius: 50px;
            -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
            
            padding: 11px 23px 10px;
            text-transform: uppercase;
            cursor: pointer;
            min-width: 216px;
            margin-left: 17px;
           
            /// vtlbz? а дляя родител\я .h2 *-->      align-items: flex-end;
            //--> margin-right: 100%;
            //
        }
    }
    .form-group{
        margin-right: 0;
        width: 100%;
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 33px;
        }
    }
}