.slider_doors_wrapper{
    padding: 40px 0;
    .red-button{
        background: linear-gradient(180deg, #FFD054 0%, #F2AD27 100%);
        color: #000;
    }
    .box1{
        
        .red-button{
            background: linear-gradient(180deg, #DF0054 0%, #A3003D 100%);
            border-radius: 22px 22px 0px 0px;
            position: absolute;
            bottom: 0;
            left: 20px;
            font-size: 16px;
            line-height: 22px;
            color: #fff;
            padding-bottom: 3px;
            padding-top: 4px;
        }
    }
   .flex{
       display: flex;
       justify-content: center;
   }

    .slick-list {
        transform: translateX(20px);
    }
    .slider_doors_js{
        height: 409px;
        margin-bottom: 40px;
    }
    .slick-arrow{
        width: 45px;
        height: 45px;
        background: #FBC035;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        &::before{
            width: 100%;
            height: 100%;
            background-image: url(../img/arrow-point-to-right.png);
            background-repeat: no-repeat;
            background-position: center;
            content: "";
            position: absolute;
            display: block;
            display: block;
            top: 0;
            left: 0;
        }
        &:last-child{

        }
        &:first-child::before{
            transform: rotate(-180deg);
            left: -2px;
        }
    }
    .slick-slide{
        transform: scale(0.8);
    }
    .slick-active {
        transform: scale(0.8) translateX(25px);
      }
      .slick-active + .slick-active {
        transform: scale(0.9);
      }
      .slick-active + .slick-active + .slick-active {
        transform: scale(1);
      }
      .slick-active + .slick-active + .slick-active + .slick-active {
        transform: scale(0.9);
      }
      .slick-active + .slick-active + .slick-active + .slick-active + .slick-active {
        transform: scale(0.8)  translateX(-30px);
      }
      
      
  
    .roundabout-holder{
        height: 400px;
        li{
            a{
                display: block;
            }
            img{
                height: auto;
                max-width: 85%;
                max-width: 100%;
                box-sizing: border-box;
            }
            
        }

    }
    .door_104{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        & > div{
            width: 100%;
        }

    }

    .door_101{
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        a{
            width: 45px;
            height: 45px;
            background: #FBC035;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            position: relative;
            &::before{
                width: 100%;
                height: 100%;
                background-image: url(../img/arrow-point-to-right.png);
                background-repeat: no-repeat;
                background-position: center;
                content: "";
                position: absolute;
                display: block;
                display: block;
                top: 0;
                left: 0;
            }
            &:last-child{

            }
            &:first-child::before{
                transform: rotate(-180deg);
                left: -2px;
            }
            
        }
    }

    .container1 .door_0, 
    .container2 .door_0, 
    .container3 .door_0{
        width: 180px;
    }
}

.slider_doors_wrapper2{
    .slider_doors_js2{
        height: 305px;
        margin-bottom: 110px;
        padding: 0 30px;
    }
    .slick-prev, .slick-next{
        top: 70%;
    }
    .slick-list {
        //transform: translateX(-15px);
        transform: translateX(3px);
    }
    .slick-slide{
        opacity: 0;
    }
    .slick-active{
        opacity: 1;
        position: relative;
        //transform: translateX(-13px);
        
    }
    .slick-slide img {
        
        width: 100%;
        transform: scale(1.55);
    }
    .slick-track{
        padding-top: 70px;
    }
    .slick-active + .slick-active,
    .slick-active + .slick-active + .slick-active + .slick-active{
        transform: scale(0.9) ;
    }
    .slick-active + .slick-active + .slick-active + .slick-active + .slick-active,
    .slick-current.slick-active {
        transform: scale(0.8) ;
    }
    .slick-current.slick-active{
        img {
            transform: scale(1.55) translateX(21px);
        }
    }
    .slick-active + .slick-active + .slick-active + .slick-active + .slick-active{
        img {
            transform: scale(1.55) translateX(-21px);
        }
    }
    .slick-current.slick-active + .slick-active + .slick-active{
        z-index: 2;
    }
    .slick-current.slick-active + .slick-active + .slick-active +.slick-active {
        z-index: 1;
    }
    .box1{
        .red-button{
            left: 40px;
            z-index: 3;
        }
        
    }

}